[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-mail = "*"
flask-cors = "*"
pyjwt = "*"
cryptography = "*"
flask-jwt-extended = "*"
psycopg2-binary = "*"
flask = "*"
flask-migrate = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
